* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.category-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(3, 169, 244, 0.9);
}
.category-overlay .btn {
  position: relative;
  left: 30%;
  top: 50px;
  transform: translate(-50%, -50%);
  background-color: #f44336;
  color: #fff;
  padding: 15px 25px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 200px;
  margin-top: 20px;
  font-size: 15px;
  width: 500px;
}

.quiz_app {
  margin: 20px auto;
  width: 800px;
  background-color: #d9e5ff;
  padding: 15px;
}

.quiz_app .quiz_info {
  display: flex;
  background-color: #ecf6fd;
  padding: 15px;
  color: #04385d;
  border-radius: 5px;
  font-weight: bold;
}
.quiz_app .quiz_info .category {
  flex: 1;
}
.quiz_app .quiz_info .question_count {
  flex: 1;
  text-align: right;
}

.quiz_app .question_area {
  color: #04385d;
  background-color: #ecf6fd;
  margin-top: 10px;
  padding: 1 10px;
  border-radius: 10px;
}

.quiz_app .answers_area {
  display: flex;
  flex-direction: column;
  color: #04385d;
  background-color: #ecf6fd;
  margin-top: 10px;
  padding: 1 10px;
  border-radius: 10px;
}
.quiz_app .answers_area .answer {
  background-color: #ecf6fd;
  padding: 15px;
  border-bottom: 1px solid #04385d;
}
.quiz_app .answers_area .answer input[type="radio"]:checked + label {
  color: #0066ff;
}
.quiz_app .answers_area .answer label {
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.quiz_app .submit_button {
  background-color: #0066ff;
  display: block;
  width: 100%;
  color: #fff;
  padding: 15px;
  font-weight: bold;
  margin-top: 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}
.quiz_app .submit_button:focus {
  outline: none;
}

.quiz_app .bullets {
  border-top: 1px solid #04385d;
  background-color: #ecf6fd;
  display: flex;
  margin-top: 10px;
  padding: 15px;
  border-radius: 10px;
  max-height: 50px;
}

.quiz_app .bullets .spans {
  flex: 1;
  display: flex;
}
.quiz_app .bullets .spans span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d9e5ff;
  margin-right: 5px;
}
.quiz_app .bullets .spans span.on {
  background-color: #0066ff;
}
.quiz_app .bullets .spans span.true {
  background-color: green;
}
.quiz_app .bullets .spans span.false {
  background-color: red;
}

.results {
  color: #04385d;
  height: 100px;
  background-color: #ecf6fd;
  margin-top: 10px;
  padding: 1 10px;
  border-radius: 10px;
  height: 50px;
  padding: 15px;
}

.results .span {
  font-weight: bold;
}
.results .perfect {
  color: #0066ff;
}
.results .good {
  color: green;
}
.results .bad {
  color: red;
}
.results .very-bad {
  color: #5821ff;
}

.base-timer {
  position: relative;
  top: -10px;
  width: 40px;
  height: 40px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
}
